:root {
  --dark-blue: #161f33;
  --light-dark-blue: #1e2a49;
  --blue: #1778e5;
  --light-blue: #66a5e1;
  --geyser: #d0d7e1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Space Mono", monospace;
}

body {
  background: var(--dark-blue);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom__title {
  font-size: 1.7rem;
  color: white;
  font-weight: 400;
  margin-bottom: 1rem;
}
